*{ font-family: "Futura", "Courier New", monospace ; margin : 0 ; padding: 0; }

h1 /* Main Header */
	{ color : white ; font-size: 80px ; text-align: center ; margin: 0 ; padding: 0 ; }
h2 /*Secondary Header*/
	{ color : black ; font-size : 50px ; margin: 0 ; padding: 0 ; }
td, tr, th /* table rows, cells & headers */
	{ color : black ; font-size: 25px ; text-align: center ; border: 1px solid black ; border-collapse: collapse ; margin: 0 ; padding: 0;
  	border-radius:6px ; }
a /*links*/
	{ color : white ; font-size : 50px ; text-align: center ; margin: 0 ; padding: 0 ; word-spacing: 30px ; }
#th01 /*table header*/
	{ height: 50px ; color : white ; font-size : 75px ; text-align: center ; margin: 0 ; padding: 0 ; background-color: blue ; border : 1px solid black ; 
  	background:url(IMG_0150.JPG) ; background-size: contain ; }
#td01 /*table cell without audio player */
	{ color : black ; font-size : 10px ; text-align: center ; margin: 0 ; padding: 0 ; }
p /*paragraphs*/
	{ color : black ; font-size: 25px; text-align: left ; margin: 0 ; padding: 0 ; }
#header-background /*header*/ 
	{ max-width : 100% ; height : 200px ; background:url(IMG_0171.JPG) ; text-align: center; margin : 0 ; /* Same as the width of the sidebar */
  	padding: 0px 10px ; color : white ; border-radius : 15px ; position: sticky ; top : 0 ; }
nav /*navigation bar - horizontal */
	{ color : white ; word-spacing: 30px ; }
.center /*table centring */ 
	{  margin-left: auto ; margin-right: auto; }
.sidenav /*side navigation bar*/
	{ height: 100%; /* Full-height: remove this if you want "auto" height */ width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */ z-index: 1; /* Stay on top */ top: 200px; /* Stay at the top */
  	left: 0; background-color: #111; /* Black */ overflow-x: hidden; /* Disable horizontal scroll */ padding-top: 20px ; 
  	border-radius : 15px ; }
.sidenav a 
	{ padding: 6px 8px 6px 16px; text-decoration: none; font-size: 25px; color: #818181; display: block ; }
.sidenav a:hover 
	{ color: #f1f1f1; }
.sidenav .active 
	{ color: yellow ; }
main 
	{ margin-left: 160px; /* Same as the width of the sidebar */ padding: 0px 10px; }
.player a 
	{ color : black ; font-size : 18px ; word-spacing: 0 ; }
.player a:hover
	{ color : grey ; }




